@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;

  overflow-x: hidden;
  overflow-y: auto;     /* ⬅️ هاي أهم سطر */

  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
