.about {
  position: relative;
  background-color: #e6e6e6;
  color: #17477b;
  margin-top: -160px;
  padding: 260px 80px 180px;
  overflow: hidden;
  z-index: 3;
  font-family: "Times New Roman", Times, serif;

  clip-path: polygon(
    0 0,
    100% 0,
    100% 95%,
    85% 97%,
    70% 95%,
    55% 97%,
    40% 95%,
    25% 97%,
    10% 96%,
    0 97%
  );
}

.about::before {
  content: "";
  position: absolute;
  top: -300px;
  left: 0;
  right: 0;
  height: 300px;
  background-color: #17477b;
  z-index: 0;
}

.about-half-circle {
  position: absolute;
  top: -300px;
  right: -140px;
  width: 600px;
  height: 600px;
  background-color: #e6e6e6;
  border-radius: 50%;
  z-index: 1;
}

.about-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 100px;
  position: relative;
  z-index: 2;
}

.about-content {
  width: 50%;
  margin-top: -300px;
  padding: 0 80px;
  font-family: "Times New Roman", Times, serif;
}


.about-title,
.about-text {
  opacity: 0;
  transform: translateY(40px);
}

.reveal.show .about-title {
  opacity: 1;
  transform: translateY(0);
  transition: 0.8s ease;
}

.reveal.show .about-text:nth-of-type(1) {
  opacity: 1;
  transform: translateY(0);
  transition: 0.8s ease 0.2s;
}

.reveal.show .about-text:nth-of-type(2) {
  opacity: 1;
  transform: translateY(0);
  transition: 0.8s ease 0.4s;
}

.about-title {
  font-size: 44px;
  font-weight: 700;
  margin-bottom: 34px;
  color: #17477b;
}

.about-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.95;
  margin-bottom: 26px;
  max-width: 720px;
  color: #17477b;
}

.about-image {
  width: 48%;
  display: flex;
  justify-content: center;
  margin-top: -120px;
}

.about-image img {
  width: 100%;
  max-width: 520px;
  border-radius: 28px;
  clip-path: inset(0 round 28px);
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.18);
}

/* Responsive */
@media (max-width: 900px) {
  .about {
    margin-top: -120px;
    padding: 200px 20px 140px;

    clip-path: polygon(
      0 0,
      100% 0,
      100% 96%,
      75% 97%,
      50% 96%,
      25% 97%,
      0 96%
    );
  }

  .about-wrapper {
    flex-direction: column;
    gap: 60px;
  }

  .about-content{
    width: 100%;
    text-align: center;
    padding: 0;
    margin-top: -230px;
  }
   .about-image {
    width: 100%;
    text-align: center;
    padding: 0;
    margin-top: -1px;
  }

  .about-title {
    font-size: 34px;
  }

  .about-image img {
    max-width: 360px;
  }

  .about-half-circle {
    width: 380px;
    height: 380px;
    top: -200px;
    right: -120px;
  }
}
