
.navbar {
  position: fixed;    
  top: 0;
  height: 70px;
  width: 100%;
  background-color:#17477b;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0,0,0,0.15);
}


.navbar-logo img {
  height: 45px;
}


.navbar-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.navbar-links li a {
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 600;
  font-size: 15px;
}

.navbar-links li a:hover {
  color: #ED985F;
}


.contact-btn {
  display: inline-block;
  background: #ED985F;
  color: #FFFFFF;
  padding: 8px 16px;
  border-radius: 24px;
  font-weight: 700;
  text-decoration: none;
}

.contact-btn:hover {
  filter: brightness(0.95);
}


.language-selector {
  display: flex;
  align-items: center;
  gap: 6px;
  border: 1px solid #FFFFFF;
  border-radius: 20px;
  padding: 4px 10px;
  margin-right: 90px;
  
}

.language-selector img {
  width: 18px;
}

.language-selector select {
  background: transparent;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
}


.language-selector select option {
  color: #001F3D;
}


.menu-icon {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.menu-icon span {
  width: 25px;
  height: 3px;
  background: #FFFFFF;
}

@media (max-width: 768px) {
  .navbar {
    padding: 0 20px;
  }

  .navbar-links {
    display: none;
  }

  .menu-icon {
    display: flex;
  }

  .navbar-logo {
    position: absolute;
    left: 45%;
    transform: translateX(-50%);
  }
}


@media (max-width: 900px) {
  .sidebar .contact-btn {
    display: block;
    background: transparent;
    padding: 15px 25px;
    border-radius: 0;
    font-weight: 600;
    color: #FFFFFF;
    text-decoration: none;
  }

  .sidebar .contact-btn:hover {
    background: #ED985F;
    color: #17477b;
  }
  .language-selector {
  
  margin-right: 40px;
  
}
}

.sidebar {
  position: fixed;
  top: 0;
  left: -260px;
  width: 260px;
  height: 100vh;
  background: #17477b;
  transition: 0.3s;
  z-index: 1001;
}

.sidebar.open {
  left: 0;
}

.sidebar ul {
  list-style: none;
  padding: 60px 0;
}

.sidebar ul li a {
  display: block;
  padding: 15px 25px;
  color: #FFFFFF;
  text-decoration: none;
  font-size: 18px;
}

.sidebar ul li a:hover {
  background: #ED985F;
  color: #17477b;
}

.close-btn {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 30px;
  color: #FFFFFF;
  cursor: pointer;
}


.overlay {
  display: none;
}

.overlay.show {
  display: block;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  z-index: 1000;
}
